/*
 * Forms
 */
div.form {
	font-size: 8pt;
}
div.form div.subform {
	float: left;
}
div.form div.form_element {
	padding-bottom: 8px;
}
div.form div.form_leftlabel {
	float: left;
}
div.form div.form_toplabel {
	padding-bottom: 15px;
}
div.form div.form_toplabel label {
	font-weight: bold;
}
div.form div.form_help {
	width: 20px;
	clear: left;
}
div.form div.form_label {
	max-width: 50%;
}
div.form div.form_submit {
	clear: both;
	text-align: right;
}


/*
 * Form widgets
 */
input,textarea,select {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 8pt;
	background: #f3f9fc none;
}
input[type='radio'], input[type='checkbox'], input[type='image'] {
	border: none;
}
/* for IE */
input.checkbox {
	border: none;
}
input.image {
	background: none;
	border: none;
}
input.image:focus {
	background: none;
}
input.submit, input.button, input[type=submit], input[type=button], button {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #feffff url(../img/input_bg.gif) repeat-x left top;
}
input.submit[disabled] {
	color: #7091fe;
}
input:focus,textarea:focus,select:focus {
	background: #e3eff6 none;
	border: 1px solid #81a3cd;
}
input.error,textarea.error,select.error {
	background: #ffe4ea none;
}
input.error:focus,textarea.error:focus,select.error:focus {
	background: #ffcdd8 none;
	border: 1px inset #f00;
}
/* Multi Select */
div.multiselect_container {
	width: 190px;
	height: 100px;
	background: #f3f9fc none;
}
div.multiselect {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 100%;
	overflow: auto;
}
div.multiselect .option {
	margin: 0;
	padding: 0;
	cursor: default;
}
div.multiselect .selected {
	background-color: #ceedff;
}
div.multiselect_control {
	width: 100%;
	height: 16px;
	position: relative;
	bottom: 16px;
	right: 14px;
	text-align: right;
}
div.multiselect_control img {
	cursor: pointer;
}

