table.grid {
	border: 1px solid #ccc;
	font-size: 8pt;
	width: 100%;
}
table.grid h1, table.grid h2 {
	/* hide form titles when shown within a grid */
	display: none;
}
table.grid tr {
	background-color: #fff;
}
table.grid tr th {
	text-align: left;
}
table.grid tr.altrow {
	background-color: #e7f6ff;
}
table.grid tr.highlight {
	background-color: #ceedff;
}
table.grid tr.selected {
	background-color: #9fdcff;
}
table.grid tr.ajaxcontent {
	background-color: #9fdcff;
}
table.grid tr.totals {
	background-color: #ccc;
}
table.grid tr.multi {
	background-color: #ccc;
}
table.grid tr.multi td {
	background-color: #ccc;
	vertical-align: top;
}
table.grid tr.multi td input[type='button'],
table.grid tr.multi td input[type='submit'] {
	width: 100%;
}
table.grid tr.pagination {
	background-color: #ccc;
	font-family: Verdana, Arial, Helvetica, Sans Serif;
}
table.grid tr.pagination span {
	font-weight: bold;
}
table.grid tr.pagination a {
	color: #000;
	text-decoration: none;
}
table.grid tr.pagination select {
	color: #000;
	text-decoration: none;
}
table.grid tr.label th {
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #fff;
	padding: 2px 3px;
	background-color: #ccc;
	color: #000;
	white-space: nowrap;
}
table.grid tr.filter th {
	text-align: left;
	vertical-align: top;
	border-right: 1px solid #fff;
	padding: 2px 3px;
	background-color: #ccc;
	white-space: nowrap;
}
table.grid tr.filter input {
	font-size: 8pt;
	width: 98%;
}
table.grid tr.filter select {
	font-size: 8pt;
	width: 100%;
}
table.grid input.submit {
	background: #484848 none;
	color: #fff;
}
table.grid input.spinner {
	text-align: left;
	background: #484848 url(/img/spinner-dark.gif) center right no-repeat;
}
table.grid tr th.hover {
	background-color: #7db8dd;
	cursor: pointer;
}
table.grid tr th.hover a {
	color: #fff;
}
table.grid th a.help {
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 8pt;
	color: #009;
	text-decoration: none;
}
table.grid th a {
	color: #000;
	text-decoration: none;
}
table.grid td {
	padding: 2px 15px 2px 1px;
	/*font-family: Courier, Courier New, Monospace;*/
}
table.grid td.options {
	font-family: Verdana, Arial, Helvetica;
}
table.grid td.multi {
	text-align: center;
	padding: 0;
}
